COURSEWORK 1 Business Analytics and Python Programming / 7019AFE
Student ID: 13423803

1. Download Data
Please fetch the data of Amazon, Microsoft and Google from 1st Jan 2010 to 30th Dec 2020. 
Show a table of “Close price” of all stocks in one table.

In [5]:
import pandas as pd
import numpy as np
import yfinance as yf

tickers = ["AMZN", "MSFT", "GOOGL"]
data = yf.download(tickers, start="2010-01-01", end="2020-12-30")
data = data[["Close"]]
data

[*********************100%***********************]  3 of 3 completed

                 Close
                  AMZN      GOOGL        MSFT
Date
2010-01-04    6.695000  15.684434   30.950001
2010-01-05    6.734500  15.615365   30.959999
2010-01-06    6.612500  15.221722   30.770000
2010-01-07    6.500000  14.867367   30.450001
2010-01-08    6.676000  15.065566   30.660000
...                ...        ...         ...
2020-12-22  160.326004  86.011002  223.940002
2020-12-23  159.263504  86.411499  221.020004
2020-12-24  158.634506  86.708000  222.750000
2020-12-28  164.197998  88.697998  224.960007
2020-12-29  166.100006  87.888000  224.149994

[2767 rows x 3 columns]

2. Calculate daily returns of each stock.
Calculate daily returns and delete the row of ‘NaN’ data.
Show a table of daily returns of all stocks
Create portfolios of each two-stock with the same proportion for each stock, i.e. (50% Amazon, 50% Microsoft), (50% Amazon, 50% Google), (50% Microsoft, 50% Google).

In [7]:
dailyreturn = data.pct_change()
dailyreturn = dailyreturn.dropna()
dailyreturn

               Close
                AMZN     GOOGL      MSFT
Date
2010-01-05  0.005900 -0.004404  0.000323
2010-01-06 -0.018116 -0.025209 -0.006137
2010-01-07 -0.017013 -0.023280 -0.010400
2010-01-08  0.027077  0.013331  0.006897
2010-01-11 -0.024041 -0.001512 -0.012720
...              ...       ...       ...
2020-12-22  0.000106 -0.008267  0.006065
2020-12-23 -0.006627  0.004656 -0.013039
2020-12-24 -0.003949  0.003431  0.007827
2020-12-28  0.035071  0.022951  0.009921
2020-12-29  0.011584 -0.009132 -0.003601

[2766 rows x 3 columns]

In [21]:
proportion = [0.5,0.5,0.5]
combinedreturns = (proportion * dailyreturn) 
combinedreturns

stock1 = combinedreturns[[('Close', 'AMZN'),('Close', 'MSFT')]].sum(axis=1)
stock2 = combinedreturns[[('Close', 'AMZN'),('Close', 'GOOGL')]].sum(axis=1)
stock3 = combinedreturns[[('Close', 'MSFT'),('Close', 'GOOGL')]].sum(axis=1)

combinedstockreturn = pd.concat([stock1, stock2, stock3],axis=1)
combinedstockreturn.rename(columns={0:'A_M',1:'A_G',2:'M_G'},inplace=True)
combinedstockreturn

                 A_M       A_G       M_G
Date
2010-01-05  0.003111  0.000748 -0.002040
2010-01-06 -0.012126 -0.021662 -0.015673
2010-01-07 -0.013706 -0.020146 -0.016840
2010-01-08  0.016987  0.020204  0.010114
2010-01-11 -0.018381 -0.012776 -0.007116
...              ...       ...       ...
2020-12-22  0.003086 -0.004081 -0.001101
2020-12-23 -0.009833 -0.000985 -0.004191
2020-12-24  0.001939 -0.000259  0.005629
2020-12-28  0.022496  0.029011  0.016436
2020-12-29  0.003991  0.001226 -0.006366

[2766 rows x 3 columns]

3. Calculate CV
Calculate CV of three portfolios above. 
Which portfolio is the most effective one based on CV?

In [35]:
CV = combinedstockreturn.std()/combinedstockreturn.mean()
print('CV of each portfolio: \n\n',round(CV, 3))
print('The most effective portofolio based on CV is A_M which is the combination of AMAZON and MICROSOFT with the value of:', round(CV.min(), 3))

CV of each portfolio:

 A_M    14.308
A_G    15.259
M_G    18.135
dtype: float64
The most effective portofolio based on CV is A_M which is the combination of AMAZON and MICROSOFT with the value of: 14.308

4. Calculate Sharpe Ratio
Calculate Sharpe ratios of the portfolios.
Assuming the risk-free returns is 1% per year (360 days). Which portfolio should investors choose based on Sharpe ratios?

In [42]:
riskfree = 0.01/360
sharpe = (combinedstockreturn.mean() - riskfree) / combinedstockreturn.std()
print('Sharpe ratio of each portfolio:\n',round(sharpe, 3))
print('The portfolio that investors should choose based on Sharpe ratios is A_M which is the combination of AMAZON and MICROSOFT with the value of:', round(sharpe.max(), 3),". Because it has the highest value.")

Sharpe ratio of each portfolio:
 A_M    0.068
A_G    0.064
M_G    0.053
dtype: float64
The portfolio that investors should choose based on Sharpe ratios is A_M which is the combination of AMAZON and MICROSOFT with the value of: 0.068 . Because it has the highest value.